.reveal figcaption{
   text-align: center;
}

.reveal .caption{
   text-align: center;
}

.caption{
   text-align: center;
}

.bottom-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.bottom-align img {
    margin-top: auto;
}
